# Introduction

This week we are continuing with pandas to look at data aggregation practices in Python. One of the most powerful analytical techniques for tabular data is to group rows of data by common values. We have done simple versions of this before using the slicing syntax to extract subsets of dataframes that agree in a particular column but in this notebook we will explore the idea more completely. In addition, we will also introduce the idea of a pivot table, which is used to aggregate data along multiple columns at once. 

The readings for this week are: 
* [Sections 3.8-3.9 of the Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html)

The main method for grouping data in a dataframe is `.groupby` which allows us to select a column and creates a new object that allows us to compute aggregate statistics for elements of the dataframe that share a common value in the chosen column.

In [16]:
import pandas as pd
BB_df = pd.read_csv("./Data/2020bb_values.csv")

In [4]:
BB_df.head()

,Rk,Team,Conf,W-L,AdjEM,AdjO,AdjO_rank,AdjD,AdjD_rank,AdjT,...,Luck,Luck_rank,SoS_AdjEM,SoS_AdjEM_rank,SoS_OppO,SoS_OppO_rank,SoS_OppD,SoS_OppD_rank,NCSoS_AdjEM,NCSoS_AdjEM_rank
0,1,Kansas 1*,B12,28-3,30.23,115.8,8,85.5,2,67.3,...,0.040,79,12.66,2,107.4,26,94.7,1,9.58,10
1,2,Gonzaga 1*,WCC,31-2,26.95,121.3,1,94.4,43,71.9,...,0.050,50,2.42,109,103.5,115,101.0,99,-2.09,245
2,3,Baylor 1*,B12,26-4,25.49,113.5,17,88.1,4,66.2,...,0.016,144,10.20,27,106.4,39,96.2,11,1.38,132
3,4,Dayton 1*,A10,29-2,24.93,119.1,2,94.1,38,67.6,...,0.002,180,2.74,105,104.1,103,101.3,105,-0.74,203
4,5,Duke 3*,ACC,25-6,24.62,115.7,9,91.1,12,72.0,...,-0.009,209,7.28,54,106.0,53,98.7,58,2.60,85

In [22]:
BB_df['Conf '].value_counts()

ACC     15
SEC     14
B10     14
CUSA    14
A10     14
Slnd    13
MAC     12
SB      12
P12     12
OVC     12
Amer    12
BSth    11
MEAC    11
BSky    11
MWC     11
MAAC    11
NEC     11
SC      10
BE      10
Horz    10
SWAC    10
MVC     10
CAA     10
B12     10
Pat     10
WCC     10
AE       9
BW       9
WAC      9
ASun     9
Sum      9
Ivy      8
Name: Conf , dtype: int64

In [40]:
BB_df['Wins'] = pd.to_numeric(BB_df["W-L "].str.split("-").str[0])
BB_df["Wins"]

0      28
1      31
2      26
3      29
4      25
5      30
6      22
7      21
8      24
9      21
10     24
11     24
12     24
13     23
14     26
15     19
16     24
17     24
18     21
19     21
20     18
21     21
22     20
23     16
24     22
25     21
26     15
27     20
28     25
29     21
       ..
323    15
324    13
325     9
326    11
327     7
328     8
329     5
330     9
331     8
332    10
333     6
334    10
335     8
336     8
337     9
338    11
339     7
340     9
341     4
342     8
343     3
344     9
345     6
346     4
347     4
348     5
349     4
350     4
351     1
352     4
Name: Wins, Length: 353, dtype: int64

In [52]:
conference_grouping = BB_df.groupby("Conf ")

In [54]:
conference_grouping.max()

,Rk,Team,W-L,AdjEM,AdjO,AdjO_rank,AdjD,AdjD_rank,AdjT,AdjT_rank,...,Luck_rank,SoS_AdjEM,SoS_AdjEM_rank,SoS_OppO,SoS_OppO_rank,SoS_OppD,SoS_OppD_rank,NCSoS_AdjEM,NCSoS_AdjEM_rank,Wins
Conf,,,,,,,,,,,,,,,,,,,,,
A10,260,VCU,9-22,24.93,119.1,347,110.2,315,71.2,330,...,340,5.48,219,105.0,225,103.8,208,4.70,353,29
ACC,179,Wake Forest,26-5,24.62,115.7,234,102.0,166,72.0,353,...,315,10.39,78,107.9,85,99.9,84,7.39,351,26
AE,333,Vermont 13**,9-22,10.10,106.5,330,116.9,346,70.3,294,...,275,-3.08,310,99.7,336,105.7,303,1.80,323,26
ASun,352,Stetson,9-21,9.68,112.0,351,112.2,329,70.1,352,...,329,-1.74,345,102.0,331,107.3,347,6.98,322,30
Amer,217,Wichita St. 11*,23-8,20.39,112.7,227,104.0,213,72.6,331,...,325,6.52,122,104.8,215,100.3,91,3.60,350,23
B10,162,Wisconsin 4*,8-23,24.03,117.3,190,101.3,152,73.1,342,...,351,12.79,31,110.2,25,97.6,35,2.88,333,24
B12,90,West Virginia 6*,28-3,30.23,115.8,177,101.2,147,69.9,318,...,348,12.66,37,107.5,64,97.3,24,9.58,296,28
BE,94,Xavier,24-7,20.93,118.2,165,100.2,125,72.9,341,...,302,11.48,40,108.4,46,98.4,52,4.86,328,24
BSky,323,Weber St.,8-24,10.12,110.2,332,111.1,321,73.1,340,...,317,0.04,214,102.4,229,104.1,230,5.25,231,23
BSth,341,Winthrop 16*,9-23,2.65,105.6,339,116.7,345,71.9,336,...,300,-5.06,348,101.1,327,108.8,353,7.52,338,24
BW,315,UC Santa Barbara,7-23,6.11,107.4,320,113.3,336,70.9,347,...,319,0.81,258,103.0,266,105.4,287,7.78,297,21
CAA,312,William & Mary,9-21,6.06,108.7,337,111.6,323,72.1,317,...,345,-1.32,248,103.2,239,105.6,299,3.69,332,26
CUSA,295,Western Kentucky,9-22,10.47,111.2,313,108.4,301,74.9,350,...,336,2.47,216,104.7,259,103.3,189,9.01,331,22
Horz,328,Youngstown St.,8-23,3.47,105.8,329,115.6,344,74.0,304,...,321,-2.12,315,101.8,286,106.5,332,5.00,327,25
Ivy,299,Yale 12**,7-20,11.57,107.9,302,110.3,317,70.2,314,...,350,0.42,191,102.6,231,102.9,168,3.64,256,23
MAAC,317,Siena 16*,7-23,2.06,107.2,344,111.6,325,72.6,346,...,344,-2.97,319,99.6,335,105.1,276,3.87,349,20
MAC,237,Western Michigan,24-7,9.54,108.5,318,107.0,276,73.9,329,...,335,1.46,209,103.7,226,104.0,220,3.13,335,24
MEAC,350,South Carolina St.,6-26,-7.76,95.4,352,119.7,350,74.7,263,...,309,-6.28,353,97.9,353,106.9,344,8.42,279,18
MVC,294,Valparaiso,9-23,13.43,112.7,274,107.4,280,69.3,337,...,333,2.19,161,103.7,209,102.7,157,2.74,324,25
MWC,290,Wyoming,9-24,24.48,115.1,322,110.3,316,73.3,338,...,347,4.69,118,106.0,105,103.5,198,2.30,280,30
NEC,347,Wagner,8-21,-0.32,107.6,342,114.0,340,72.8,348,...,323,-4.23,326,100.1,318,106.5,333,3.47,336,22
OVC,340,Tennessee Tech,9-22,6.02,106.9,336,122.9,353,74.5,252,...,328,-4.80,342,100.6,324,107.7,350,4.71,337,26
P12,153,Washington St.,24-7,20.00,117.1,195,102.0,165,73.2,325,...,353,8.33,84,107.1,112,99.5,76,4.11,347,24
Pat,344,Navy,3-29,4.73,107.2,291,117.3,348,71.0,351,...,288,-2.26,318,102.2,281,106.7,341,5.40,345,25
SB,293,UT Arlington,9-22,7.91,106.4,287,107.5,284,73.0,322,...,349,2.34,177,104.7,184,103.3,181,11.60,295,21
SC,334,Wofford,9-24,12.23,108.2,305,112.6,332,73.7,293,...,352,0.07,211,103.5,210,105.0,273,1.74,340,30
SEC,169,Vanderbilt,25-6,17.60,118.1,203,104.5,221,74.8,334,...,324,8.82,75,107.8,68,100.3,90,6.92,330,25
SWAC,351,Texas Southern,8-24,-4.16,99.1,353,117.6,349,77.1,284,...,254,-4.63,346,98.7,352,105.6,301,14.38,94,19
Slnd,345,Texas A&M Corpus Chris,9-22,7.00,104.1,341,122.3,352,76.1,303,...,290,-2.02,338,101.9,325,107.2,346,15.78,251,28
Sum,330,Western Illinois,7-24,5.56,110.0,303,115.0,343,71.3,287,...,341,0.35,259,104.4,242,106.5,331,12.03,316,25
WAC,353,Utah Valley,4-25,8.14,107.6,349,120.8,351,70.4,343,...,338,-3.20,328,101.9,326,106.2,323,4.75,344,25
WCC,286,Santa Clara,9-23,26.95,121.3,315,104.4,217,71.9,349,...,267,6.06,199,106.0,202,103.6,199,7.40,352,31

In [55]:
conference_grouping.max()["Wins"]

Conf
A10     29
ACC     26
AE      26
ASun    30
Amer    23
B10     24
B12     28
BE      24
BSky    23
BSth    24
BW      21
CAA     26
CUSA    22
Horz    25
Ivy     23
MAAC    20
MAC     24
MEAC    18
MVC     25
MWC     30
NEC     22
OVC     26
P12     24
Pat     25
SB      21
SC      30
SEC     25
SWAC    19
Slnd    28
Sum     25
WAC     25
WCC     31
Name: Wins, dtype: int64

In [57]:
conference_grouping.mean()["Wins"]["P12"]

18.833333333333332

In [58]:
conference_grouping.mean().loc["P12"]

Rk                   70.416667
AdjEM                11.289167
AdjO                107.325000
AdjO_rank            97.500000
AdjD                 96.050000
AdjD_rank            71.000000
AdjT                 67.991667
AdjT_rank           193.166667
Luck                  0.001083
Luck_rank           162.166667
SoS_AdjEM             6.959167
SoS_AdjEM_rank       57.250000
SoS_OppO            105.500000
SoS_OppO_rank        66.500000
SoS_OppD             98.508333
SoS_OppD_rank        54.833333
NCSoS_AdjEM          -0.269167
NCSoS_AdjEM_rank    172.750000
Wins                 18.833333
Name: P12, dtype: float64

In [59]:
College_Ranking = pd.read_csv("../Week7_Plotting2/Data/College_Rankings.csv")

In [70]:
College_Grouping = College_Ranking.groupby(["Type","State"])

In [71]:
College_Grouping.mean()

                          Rank      Admit      Grad4          Cost  \
Type         State
Liberal Arts AR     176.000000  83.000000  62.000000  53312.500000
             CA      49.000000  28.571429  81.214286  60348.285714
             CO      37.000000  18.000000  81.500000  61739.500000
             CT      77.666667  32.000000  79.833333  64163.500000
             GA     206.000000  61.500000  71.750000  44687.250000
             IA     147.750000  57.000000  70.875000  50937.625000
             IL      98.600000  66.500000  75.500000  47458.900000
             IN     178.200000  62.900000  64.900000  50155.800000
             KY      91.666667  63.833333  61.833333  34068.833333
             MA      65.571429  39.285714  83.285714  61699.857143
             MD     218.000000  86.000000  65.500000  60712.500000
             ME      71.250000  34.750000  76.500000  60177.250000
             MI      76.333333  68.333333  73.500000  42968.833333
             MN      95.500000  55.333333  81.916667  55314.500000
             MO     190.000000  64.000000  57.500000  41569.500000
             MS     193.000000  56.500000  62.500000  48994.500000
             NC       4.000000  21.500000  91.000000  61273.000000
             NM     242.000000  81.000000  43.000000  60600.500000
             NY     109.363636  43.818182  80.000000  59558.318182
             OH      63.250000  41.625000  77.500000  60828.875000
             OR     125.500000  54.000000  67.500000  60540.750000
             PA     104.272727  40.363636  80.818182  61020.772727
             SC     120.500000  73.250000  74.750000  55178.250000
             TN      82.000000  62.500000  76.000000  52975.750000
             TX     202.333333  63.500000  66.500000  49404.833333
             VA     107.250000  49.500000  72.250000  50573.000000
             VT      16.000000  17.500000  88.000000  62281.000000
             WA     148.000000  59.000000  74.500000  58456.750000
             WI     142.500000  70.750000  66.750000  53821.750000
Private      AL     165.000000  81.500000  49.000000  38549.000000
...                        ...        ...        ...           ...
Public       DE     167.000000  65.500000  69.000000  44240.000000
             FL     143.285714  52.928571  44.785714  33544.000000
             GA     167.333333  54.833333  46.166667  41540.166667
             IA     232.000000  73.500000  40.833333  32153.000000
             IL      91.000000  60.000000  69.000000  42826.000000
             IN     212.500000  68.000000  50.750000  42348.750000
             KY     262.000000  73.500000  22.500000  34555.500000
             LA     253.000000  70.750000  33.750000  35835.250000
             MA     209.000000  61.000000  65.500000  43352.500000
             MD     185.800000  60.700000  53.300000  36847.600000
             MI     154.000000  49.000000  62.750000  50320.750000
             MN     107.000000  54.000000  56.750000  27125.750000
             MO     153.000000  79.166667  41.000000  32173.333333
             MS     275.000000  82.000000  35.500000  32194.000000
             NC     146.833333  52.583333  49.500000  33733.166667
             NE     228.000000  70.500000  31.500000  33698.000000
             NJ     173.000000  53.333333  65.000000  39251.333333
             NM      95.000000  35.000000  21.500000  27587.000000
             NY     176.363636  44.363636  50.318182  33121.863636
             OH     109.000000  59.500000  65.500000  42014.750000
             OK     203.666667  73.166667  32.666667  28472.333333
             OR     300.000000  76.000000  47.000000  45369.000000
             PA     198.000000  51.833333  57.833333  38143.166667
             SC     188.000000  58.000000  59.000000  42171.000000
             TN     221.000000  74.500000  41.000000  41837.500000
             TX     186.500000  59.625000  46.250000  39937.000000
             VA     132.200000  50.800000  70.600000  43703.200000
             VT     294.000000  73.500000  66.000000  51325.500000
             WA     184.500000  69.750000  50.500000  39627.000000
             WI     123.000000  62.500000  43.250000  30756.500000

                         NeedAid    NonNeedAid  NNApercent      GradDebt  \
Type         State
Liberal Arts AR     28883.000000  25756.000000   91.000000  30055.000000
             CA     34156.642857   8657.857143   15.714286  21467.857143
             CO     38438.500000  11554.000000   11.000000  20028.500000
             CT     39695.333333  24289.333333    2.333333  26492.500000
             GA     21067.250000  11065.500000   35.000000  30195.000000
             IA     26964.125000  17908.750000   57.750000  27508.625000
             IL     23342.300000  15441.000000   79.400000  28418.800000
             IN     25692.200000  15465.600000   56.000000  28377.900000
             KY     17444.000000  11379.333333   60.666667  20177.166667
             MA     37603.571429  11309.142857   18.285714  21141.071429
             MD     30558.500000  19258.000000   71.000000  28932.500000
             ME     37632.500000   2798.250000   12.250000  22776.875000
             MI     17660.000000  10058.333333   74.666667  28501.666667
             MN     29096.083333  12633.500000   59.333333  30977.833333
             MO     19661.500000  15269.000000   46.000000  30193.500000
             MS     23354.000000  20354.000000   90.000000  28653.000000
             NC     37188.500000  23834.000000   15.000000  21675.500000
             NM     29329.500000  10805.000000   72.000000  25627.000000
             NY     32549.136364   8138.090909   28.818182  24319.363636
             OH     33551.250000  16086.000000   67.500000  24371.750000
             OR     34313.500000   6691.000000   27.000000  22671.750000
             PA     31616.909091  15067.909091   30.181818  25617.954545
             SC     30613.250000  16111.500000   66.500000  25524.250000
             TN     26196.750000  14762.500000   66.000000  24180.000000
             TX     25113.500000  18180.333333   71.000000  33610.500000
             VA     28840.625000  22959.250000   42.250000  28698.125000
             VT     39261.500000      0.000000    0.000000  17803.000000
             WA     25947.750000  11995.000000   74.000000  23542.000000
             WI     27414.250000  17631.500000   76.500000  31287.750000
Private      AL     14011.500000   9636.000000   67.000000  26665.500000
...                          ...           ...         ...           ...
Public       DE      8989.500000   7037.000000   38.000000  32802.000000
             FL      6237.142857   2477.428571   20.000000  20953.500000
             GA      7565.500000   2712.666667    8.333333  23398.833333
             IA      6281.666667   3677.666667   31.000000  26778.333333
             IL     13558.000000   4736.000000   19.000000  23731.000000
             IN     10938.750000   6071.500000   26.500000  27922.250000
             KY      8706.000000   7908.000000   20.000000  23107.500000
             LA      9242.750000   4054.500000   18.000000  19739.500000
             MA      9697.500000   4310.000000   20.000000  30090.000000
             MD      8370.700000   5166.200000   20.000000  25030.700000
             MI     12304.250000   7888.500000   18.000000  26269.500000
             MN      9640.000000   4359.500000   18.000000  25563.500000
             MO      7676.833333   5155.666667   35.333333  25512.000000
             MS      7568.500000   7363.000000   33.000000  26761.000000
             NC      8015.916667   4061.666667    6.166667  22086.250000
             NE      7078.500000   6399.000000    9.000000  23613.000000
             NJ     10722.500000   8175.666667   11.000000  29830.166667
             NM      5473.000000   6651.000000   54.000000  20577.500000
             NY      6229.409091   3885.090909   10.363636  21888.500000
             OH      9002.250000   6730.500000   37.000000  27837.250000
             OK      6933.333333   3480.000000   27.000000  22009.333333
             OR      7476.000000   4014.000000   21.000000  24355.500000
             PA      6873.500000   6448.333333    8.333333  34690.666667
             SC      6841.000000   5102.000000   48.000000  29032.000000
             TN      8966.500000   3685.000000   24.000000  23624.000000
             TX      8562.875000   6125.750000   15.250000  24878.375000
             VA     10668.400000   4573.400000    9.800000  25821.400000
             VT     14708.000000   8658.000000   43.000000  27517.500000
             WA     12030.250000   3760.000000    4.000000  21647.250000
             WI      7798.250000   2729.500000    6.500000  26306.000000

                          Salary         Year
Type         State
Liberal Arts AR     40506.500000  2020.000000
             CA     48262.000000  2019.642857
             CO     41521.000000  2019.500000
             CT     52488.833333  2019.833333
             GA     42927.750000  2019.500000
             IA     43253.000000  2019.750000
             IL     37971.400000  2019.800000
             IN     42227.400000  2019.600000
             KY     39959.666667  2019.833333
             MA     52606.785714  2019.714286
             MD     34293.000000  2019.500000
             ME     46980.125000  2019.625000
             MI     31124.000000  2019.833333
             MN     48465.583333  2019.666667
             MO     40018.500000  2020.000000
             MS     45476.000000  2020.000000
             NC     58550.000000  2019.500000
             NM     32347.000000  2020.000000
             NY     50566.681818  2019.590909
             OH     43567.875000  2019.500000
             OR     39938.500000  2020.000000
             PA     54945.454545  2019.772727
             SC     47283.750000  2020.000000
             TN     44155.000000  2019.750000
             TX     46727.833333  2020.000000
             VA     43740.000000  2019.625000
             VT     53378.000000  2020.000000
             WA     46939.750000  2019.750000
             WI     40184.750000  2019.750000
Private      AL     46110.500000  2019.500000
...                          ...          ...
Public       DE     54464.500000  2019.500000
             FL     38226.642857  2019.571429
             GA     52738.666667  2019.833333
             IA     45728.500000  2019.833333
             IL     56195.000000  2020.000000
             IN     49162.500000  2019.750000
             KY     37732.500000  2019.500000
             LA     43406.500000  2019.750000
             MA     49538.500000  2019.500000
             MD     51663.100000  2019.800000
             MI     53829.750000  2019.500000
             MN     43635.750000  2020.000000
             MO     51204.000000  2019.666667
             MS     40311.500000  2019.500000
             NC     40678.333333  2019.833333
             NE     44114.000000  2020.000000
             NJ     53411.500000  2019.666667
             NM     53298.500000  2019.500000
             NY     46602.500000  2019.863636
             OH     44580.500000  2019.750000
             OK     40136.666667  2020.000000
             OR     41336.000000  2019.500000
             PA     47413.500000  2019.500000
             SC     45552.250000  2019.750000
             TN     42603.500000  2020.000000
             TX     50358.750000  2019.875000
             VA     53687.600000  2019.700000
             VT     44014.000000  2020.000000
             WA     47796.250000  2019.750000
             WI     47739.500000  2019.750000

[96 rows x 10 columns]

In [72]:
College_Grouping.mean()["Admit"]

Type          State
Liberal Arts  AR       83.000000
              CA       28.571429
              CO       18.000000
              CT       32.000000
              GA       61.500000
              IA       57.000000
              IL       66.500000
              IN       62.900000
              KY       63.833333
              MA       39.285714
              MD       86.000000
              ME       34.750000
              MI       68.333333
              MN       55.333333
              MO       64.000000
              MS       56.500000
              NC       21.500000
              NM       81.000000
              NY       43.818182
              OH       41.625000
              OR       54.000000
              PA       40.363636
              SC       73.250000
              TN       62.500000
              TX       63.500000
              VA       49.500000
              VT       17.500000
              WA       59.000000
              WI       70.750000
Private       AL       81.500000
                         ...
Public        DE       65.500000
              FL       52.928571
              GA       54.833333
              IA       73.500000
              IL       60.000000
              IN       68.000000
              KY       73.500000
              LA       70.750000
              MA       61.000000
              MD       60.700000
              MI       49.000000
              MN       54.000000
              MO       79.166667
              MS       82.000000
              NC       52.583333
              NE       70.500000
              NJ       53.333333
              NM       35.000000
              NY       44.363636
              OH       59.500000
              OK       73.166667
              OR       76.000000
              PA       51.833333
              SC       58.000000
              TN       74.500000
              TX       59.625000
              VA       50.800000
              VT       73.500000
              WA       69.750000
              WI       62.500000
Name: Admit, Length: 96, dtype: float64

In [73]:
College_Grouping_Admit = College_Ranking.groupby(["Type","State"])["Admit"]
College_Grouping_Admit.min()

Type          State
Liberal Arts  AR       82
              CA       11
              CO       18
              CT       23
              GA       54
              IA       26
              IL       53
              IN       54
              KY       34
              MA       14
              MD       85
              ME       15
              MI       52
              MN       21
              MO       63
              MS       56
              NC       21
              NM       81
              NY       22
              OH       25
              OR       39
              PA       16
              SC       68
              TN       59
              TX       49
              VA       19
              VT       17
              WA       39
              WI       68
Private       AL       81
                       ..
Public        DE       65
              FL       47
              GA       33
              IA       52
              IL       59
              IN       59
              KY       73
              LA       65
              MA       61
              MD       48
              MI       30
              MN       44
              MO       74
              MS       81
              NC       26
              NE       70
              NJ       48
              NM       34
              NY       27
              OH       53
              OK       63
              OR       75
              PA       50
              SC       51
              TN       74
              TX       40
              VA       27
              VT       73
              WA       55
              WI       49
Name: Admit, Length: 96, dtype: int64

At this point, with multiple grouping columns and multiple operations we might want to evaluate, things are getting pretty complicated. This is where we might turn to a [pivot table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) to help organize all of our information.

In [78]:
College_Ranking.pivot_table('Salary',index = 'State',columns = 'Type', aggfunc = 'count').fillna('')

Type  Liberal Arts Private Public
State
AL                       2      4
AR               2              2
AZ                              4
CA              14      16     20
CO               2       2      4
CT               6       4      2
DC                       8
DE                              2
FL                       4     14
GA               4       4      6
IA               8       2      6
IL              10       8      2
IN              10       8      4
KY               6              2
LA                       4      4
MA              14      20      2
MD               2       4     10
ME               8
MI               6              4
MN              12       4      4
MO               2      10      6
MS               2              2
NC               2       6     12
NE                       2      2
NH                       2
NJ                       4      6
NM               2              2
NY              22      26     22
OH               8      10      4
OK                       4      6
OR               4       2      2
PA              22      12      6
RI                       4
SC               4              4
TN               4       8      2
TX               6       8      8
UT                       2
VA               8             10
VT               2       2      2
WA               4       6      4
WI               4       2      4

In [81]:
College_Ranking.pivot_table('Salary',index = ['State','Year'],columns = 'Type', aggfunc = 'mean').fillna('')

Type       Liberal Arts  Private   Public
State Year
AL    2019                 45800    43900
      2020                 46421  44001.5
AR    2019        40500             43600
      2021        40513             43086
AZ    2019                          44800
      2020                          44173
      2021                          45648
CA    2019        48200    64225    53530
      2020      58508.8  64533.2  53972.2
      2021        22862  64740.5  53096.7
CO    2019        41100    51400    46150
      2020        41942           46698.5
      2021                 51838
CT    2019      52666.7    67500    53900
      2020        51014    68883    53371
      2021      52959.5    65317
DC    2019                 62550
      2020               67440.7
      2021                 46771
DE    2019                          54300
      2020                          54629
FL    2019                 47300    38100
      2020                        37467.3
      2021                 47936    43669
GA    2019        42900    52800    53000
      2020      42955.5             74097
      2021               52650.5  41667.5
IA    2019        43450    55700  45866.7
      2020        44473    55021    46970
      2021        41639           44900.5
...                 ...      ...      ...
OR    2020                          41072
      2021        40077    50827
PA    2019      54927.3  65416.7    47400
      2020        58045    66185    47427
      2021      52395.8  64294.7
RI    2019                 59650
      2020                 59818
      2021                 59593
SC    2019        47150             45750
      2020                          49282
      2021      47417.5             41427
TN    2019        44250    44100    42300
      2020        38551  45593.3
      2021        49569    37504    42907
TX    2019      46666.7    53825    50325
      2020               56588.5    53645
      2021        46789  52291.5  49308.3
UT    2019                 57400
      2021                 57013
VA    2019        43850             53740
      2020        37681           52823.3
      2021        61477             54853
VT    2019        53400    46300    44000
      2021        53356    47095    44028
WA    2019        47250  45966.7    47650
      2020        51179    48815    42888
      2021        42080    41177    52997
WI    2019        40350    55600    47550
      2020        38174             51716
      2021        41865    54827    44142

[117 rows x 3 columns]

In [ ]:
College_Ranking.pivot_table('Salary',index = 'State',columns = 'Type', aggfunc = 'mean').fillna('')

In [74]:
ramen = pd.read_csv("./Data/ramen_reviews.csv")

In [75]:
ramen.head()

,Unnamed: 0,Brand,Variety,Style,Country,Stars,Top.Ten,perc_salt
0,1,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,19.541829
1,2,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN,13.027320
2,3,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,17.543856
3,4,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,18.898820
4,5,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,20.720706

In [80]:
ramen.pivot_table('Stars',index="Style",columns=["Country","Brand"],aggfunc = 'count').fillna('')

Country Australia                               Bangladesh           Brazil  \
Brand   Fantastic Maggi Singa-Me Suimin Trident       MAMA Mama Pran Nissin
Style
Bar
Bowl
Box
Can
Cup             6              3      8                                   2
Pack                  1                       4          1    4    2      3
Tray

Country Cambodia     ...      Vietnam                            \
Brand       MAMA     ...       Omachi Paldo Vina Saigon Ve Wong
Style                ...
Bar                  ...
Bowl                 ...                                      7
Box                  ...
Can                  ...
Cup                  ...
Pack           1     ...            1          3              5
Tray                 ...

Country                                                                     \
Brand   Thien Houng Foods Uni-President Unif / Tung-I United Ve Wong Vifon
Style
Bar
Bowl                                                                     7
Box
Can
Cup                                                                      3
Pack                    1             1             1      3       3    22
Tray

Country
Brand   Vina Acecook
Style
Bar
Bowl               4
Box
Can
Cup                1
Pack              28
Tray               1

[7 rows x 423 columns]

In [77]:
ramen.pivot_table('Stars',index="Style",columns="Country",aggfunc = ['count','mean']).fillna('')

            count                                                         \
Country Australia Bangladesh Brazil Cambodia Canada China Colombia Dubai
Style
Bar
Bowl                                              8    45
Box
Can
Cup            17                 2              17    16        3
Pack            5          7      3        5     16    98        3     3
Tray                                                    9

                       ...        mean                                        \
Country Estonia Fiji   ...     Sarawak Singapore South Korea Sweden   Taiwan
Style                  ...
Bar                    ...
Bowl                   ...               4.09615     3.86581         3.26351
Box                    ...
Can                    ...
Cup                    ...               3.92593         3.5            3.25
Pack          2    4   ...     4.33333   4.21014     3.85746   3.25  3.76133
Tray                   ...                           3.47917         3.33333


Country Thailand       UK       USA United States  Vietnam
Style
Bar                        5.000000
Bowl     3.14205     3.25  3.400000                 3.3625
Box                        1.500000
Can                        3.500000
Cup      3.58854  2.97812  3.376786                2.65625
Pack      3.3866        3  3.554688          3.75  3.18333
Tray        3.75           3.408654                   3.75

[7 rows x 76 columns]